
body{
    padding: 0px;
    margin: 0px;
}
.main{
    background-color:#f3eae3

}
.sub-container{
    display: flex;
    width: 50%;
    /* border: 1px solid rgb(0, 0, 0); */
    border-radius: 15px;
    overflow:hidden;
    font-family: "Fraunces", serif;
    font-size: 14px;  
    background-color: white;
    margin: 50px auto;
    justify-content: space-between;
    
    
    
}

.photo img{
    width: 100%;
    
}
.content{
    width: 100%;
    /* padding-left: 20px; */
    margin-top: 20px;
    box-sizing: border-box;
}
.info{
    color:gray;
    letter-spacing: 5px;
}
.para-info{
    color:gray;
    width: 80%;

}
.rate{
    color: hsl(158, 36%, 37%);
         
}
.rate-info{
    color:#81848c;
    padding-right: 120px;
    padding-top: 10px;
    text-decoration: line-through;
    
    

}
.rates{
    display: flex;
    justify-content:space-around;
    
}
button{
    width: 70%;
    height: 40px;
    background-color:hsl(158, 36%, 37%);
    color: white;
    border: none;
    border-radius: 5px;
}
.card-button img{
    padding-right: 10%;
    
}
/* .card-button{
    padding: 20px;
} */
button:hover{
    background-color:#1a4031;
    cursor: pointer;
}
.mobile-image{
    display: none;
}

@media (max-width:767px){
    .sub-container{
        flex-direction: column;
        width: 100%;
        box-shadow: 1px 1px 8px;
        margin: 0px;

    }
    .mobile-image{
        background-image: url(images/image-product-mobile.jpg);
        
    }
    .content{
        width: 100%;
        box-sizing: border-box;
        
    }
    .card-button{
        padding: 20px; 
    }
    h1{
        padding: 5px;
    }
    .info{
        padding: 5px;
    }
    .para-info{
        padding: 5px;
    }
    .rate{
        padding: 5px;
    }
    
   
    
}
